NEXT_PUBLIC_SITE_NAME=Axiom Grid
NEXT_PUBLIC_SITE_URL=https://axiom-grid-rust.vercel.app
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_EMAIL=
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
